body{
	background-image: url("jojo logo.png");
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position : right 70px;
	background-size: 40%;
	
}	
.Titre1{
	text-align : center;
	border-bottom : 4px ridge rgba(255, 255, 0, .65);
	color: rgb(255,190,0);
}
p{
	font-family: 'Averia Sans Libre', cursive;
}
